<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.css">
<link rel="stylesheet" type="text/css" href="style.css">
<body layout="row" ng-app="MyApp" class="icondemoFontIconsWithLigatures" ng-cloak>

  <div flex="60" layout="column" class="boxWithHeight" layout-padding>
  PROFILE PICTURE 
    <section flex="70" ng-controller="InboxCtrl"> What the heck!!
      <h1>{{title}}</h1>
      <input type="text" ng-model="title">
      <button ng-click="titleFilter()"></button>
    </section>

    <section flex><div id="img"></div></section>
  </div>
  <div flex="33" layout="column" class="boxWithHeight" layout-padding>
    flex
    <section flex="25">FIVE TABS FOR NAV</section>

    <section flex="150">
      <a ui-sref='newcomer'>Welcome</a>
      <div ui-view=''></div>
      <div class='right'></div>
      <div class='left'></div>
    </section>

    <section flex="20">IM A SEXY FOOTER</section>
    <section flex >flex </section>
  </div>

</body>
<script src="require.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.3.1/angular-ui-router.js"</script>
<script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-114/assets-cache.js"></script>
<script src="code.js"></script>
<!--
Copyright 2016 Google Inc. All Rights Reserved. 
Use of this source code is governed by an MIT-style license that can be in foundin the LICENSE file at http://material.angularjs.org/license.
-->